.header

  %span{:style => "float: left;"} San Francisco - <a href="">Chicago</a> - <a href="">Boston</a> - <a href="">New Orleans</a> - <a href="">State College</a>
    
  %span.updates{:style => "display: inline;"}
    %span.day Page loaded at
    %span.number= Time.now
    or
    %span.number= Time.now.utc
  %span{:style =>"clear: both; display: block; height: 0px;"}
.current
  %span.day Temp: 
  %span.number= @temp1
  = "(#{@temp2}C)"
  %span.day Windchill: 
  %span.number= @chill1
  = "(#{@chill2}C)"
  %br
  %span.day Clouds: 
  %span.number= "#{@clouds}," 
  %span.day Wind 
  from 
  %span.number= @wind 
  at 
  %span.number= "#{@windspeed} mph"
  %br
  %span.day Updated at 
  %span.number Thu, 28 Apr 2011 20:56 
  (KSFO)
.images
  .oneimage
    .header radar (precipitation)
    %img(src="http://radar.weather.gov/Conus/Loop/pacsouthwest_loop.gif" alt="radar loop" width="300" height="285")
    %span.imageoptions
      %span.currentop.ooption mosaic
      %span.ooption
        %a(class="options" href="?radar_pic=single")single
      \ - 
      %span.ooption
        %a(class="options" href="?radar_size=big")big
        %span.currentop.ooption small
    %div
      :css
        clear: both
      
.insert
.static
.static
.footer
