.header

  %span{:style => "float: left;"}= "#{@cond.header}" 
  %span.updates{:style => "display: inline;"}
    %span.day Page loaded at
    %span.number= Time.now
    or
    %span.number= Time.now.utc
  %span{:style =>"clear: both; display: block; height: 0px;"}
.current
  %span.day Temp: 
  %span.number= @cond.tempf
  = "(#{@cond.tempc}C)"
  %span.day Windchill: 
  %span.number= @cond.chillf
  = "(#{@cond.chillc}C)"
  %br
  %span.day Clouds: 
  %span.number= "#{@cond.clouds}," 
  %span.day Wind 
  from 
  %span.number= @cond.wind 
  at 
  %span.number= "#{@cond.windspeed} mph"
  %br
  %span.day Updated at 
  %span.number Thu, 28 Apr 2011 20:56 
  (KSFO)
.images
  .oneimage
    .header radar (precipitation)
    %img{@cond.mosaic}
    %img{@cond.single}
    %span.imageoptions
      %span.currentop.ooption mosaic
      %span.ooption
        %a(class="options" href="?radar_pic=single")single
      \ - 
      %span.ooption
        %a(class="options" href="?radar_size=big")big
        %span.currentop.ooption small
  %div{:style =>"clear: both"}   
.insert
  .header forecast
  = "#{@forecast.summary}"
.static   
  .header astronomical weather predictions
  %a(href="http://cleardarksky.com/c/SanFranCAkey.html")
    %img(src="http://cleardarksky.com/c/SanFranCAcsk.gif" alt="SanFranCA clear sky clock" width="338" height="121")
  %a(href="http://cleardarksky.com/c/MtHamCAkey.html")
    %img(src="http://cleardarksky.com/c/MtHamCAcsk.gif" alt="MtHamCA clear sky clock" width="338" height="121")
.static
  .header national radar loop
  %img(src="http://radar.weather.gov/Conus/Loop/NatLoop_Small.gif" alt="national radar loop")
%hr
.footer
  W3C 
  %a(href="http://validator.w3.org/check?uri=referer")XHTML
  %a(href="http://jigsaw.w3.org/css-validator/check/referer")CSS

